version: '3.8'

services:
  frontend:
    image: frontend
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    image: backend
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/mydb
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - JWT_SECRET=a1b2c3d4e5f6g7h8i9j0kLmnopQrstUvwxyz  # JWT 시크릿 키 추가
    depends_on:
      - db
    networks:
      - app-network
    volumes:
      - ./storage/profile:/app/data/profile_image
      - ./storage/team:/app/data/team_image

  db:
    image: db
    build: ./db
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydb
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    ports:
      - "3306:3306"
    networks:
      - app-network

  mongo:
    image: mongo:latest
    container_name: yorkie-mongo
    ports:
      - "27017:27017"
    networks:
      - app-network

  yorkie:
    image: yorkieteam/yorkie:latest
    container_name: yorkie-server
    depends_on:
      - mongo
    command:
      [
        "server",
        "--rpc-addr", "0.0.0.0:8080",
        "--mongo-connection-uri", "mongodb://mongo:27017",
        "--backend-use-default-project", "true",   # default 프로젝트 자동 사용
      ]
    ports:
      - "8081:8080"
    environment:
      YORKIE_AUTH_ENABLE: "false"       # 인증 OFF
      YORKIE_CORS_ALLOW_ORIGIN: "*"     # (선택) CORS 허용
    networks:
      - app-network

networks:
  app-network:
    driver: bridge